In [1]:
import urllib3
import requests
from bs4 import BeautifulSoup
import pandas as pd
from datetime import datetime
from io import StringIO
import json
from headers import *
import controllers

import importlib
importlib.reload(controllers)
controller = controllers.FuturesDataController()

In [2]:
#tdf = controller.crawler_twse_data("20240801")
xdf = controller.crawler_twse_data("20240801")

In [3]:
xdf

        date      open      high       low     close
0 2024-09-02   22341.9  22439.31  22178.04   22235.1
1 2024-09-03  22240.11   22303.5  22092.21  22092.21
2 2024-09-04  21574.65  21574.65  20922.17  21092.75
3 2024-09-05  21271.09  21488.81  21150.99  21187.71
4 2024-09-06  21255.45  21461.71  21125.14  21435.19

In [ ]:
date = "20240905"
url = "https://www.twse.com.tw/indicesReport/MI_5MINS_HIST"
params = {
    'response':'json',
    'date':f'{date}'
}

response = requests.get(url,data=params,headers=TWSE_DOWN)

In [ ]:
response.text

In [ ]:
data = json.loads(response.text)
data

In [ ]:
df = pd.DataFrame(data['data'],columns=['date','open','high','low','close'])
df

In [ ]:
df.iloc[:, 1:] = df.iloc[:, 1:].apply(lambda x: x.str.replace(',', '').astype(float), axis=1)

In [ ]:
df

In [ ]:
df[['year', 'month', 'day']] = df['date'].str.split('/', expand=True)
df['year'] = df['year'].astype(int) + 1911
df['date'] = df['year'].astype(str) + '-' + df['month'].str.zfill(2) + '-' + df['day'].str.zfill(2)
df

In [ ]:
df[['year','Month', 'Day']] = df['Date'].str.split("/",expand=True,)

In [ ]:
df

In [ ]:
df['Year'] = df['Year'].astype(int) + 1911

In [ ]:
df

In [ ]:
df['Date']  = (pd.to_datetime(df['Year'].astype(str) + '/' +
df['Month'].astype(str) + '/' +
df['Day'].astype(str)))

In [ ]:
df

In [ ]:
df = df.iloc[:, :-3]

In [ ]:
df